In [1]:
# Required modules
import sqlite3
import pandas as pd
import numpy as np

In [2]:
conn = sqlite3.connect("stocks.db")

In [3]:
df = pd.read_sql("SELECT date, symbol, adjclose FROM eod where symbol='GOOG' or symbol='AAPL'", conn, parse_dates="date", index_col="date")

In [4]:
df['adjclose'] = df['adjclose'].astype(float)
df.tail()
fd = df

In [5]:
fd.reset_index(inplace=True)
fd.head()

        date symbol   adjclose
0 2019-09-20   GOOG  1229.9301
1 2019-09-19   GOOG  1238.7100
2 2019-09-18   GOOG  1232.4100
3 2019-09-17   GOOG  1229.1500
4 2019-09-16   GOOG  1231.3000

In [6]:
fd.set_index(keys= "symbol", inplace = True, append=False)
fd.head()

             date   adjclose
symbol
GOOG   2019-09-20  1229.9301
GOOG   2019-09-19  1238.7100
GOOG   2019-09-18  1232.4100
GOOG   2019-09-17  1229.1500
GOOG   2019-09-16  1231.3000

In [7]:
fd['ticker'] = fd.index
fd.head()

             date   adjclose ticker
symbol
GOOG   2019-09-20  1229.9301   GOOG
GOOG   2019-09-19  1238.7100   GOOG
GOOG   2019-09-18  1232.4100   GOOG
GOOG   2019-09-17  1229.1500   GOOG
GOOG   2019-09-16  1231.3000   GOOG

In [8]:
fd.set_index(keys= "date", inplace = True, append=True)
fd.head()

                    adjclose ticker
symbol date
GOOG   2019-09-20  1229.9301   GOOG
       2019-09-19  1238.7100   GOOG
       2019-09-18  1232.4100   GOOG
       2019-09-17  1229.1500   GOOG
       2019-09-16  1231.3000   GOOG

In [11]:
# Sort the entire dataset
fd.sort_index(inplace=True)
fd_head()

In [9]:
# Add log returns
fd.loc[ fd['ticker'] == fd['ticker'].shift(), 'logret' ] =  np.log(df['adjclose'] / (df['adjclose'].shift()))
fd.head()

                    adjclose ticker    logret
symbol date
GOOG   2019-09-20  1229.9301   GOOG       NaN
       2019-09-19  1238.7100   GOOG  0.007113
       2019-09-18  1232.4100   GOOG -0.005099
       2019-09-17  1229.1500   GOOG -0.002649
       2019-09-16  1231.3000   GOOG  0.001748

In [ ]:
########################vector
res = df.sort_values(['symbol', 'date'])

In [ ]:
# res.loc[ res['symbol'] == res['symbol'].shift(), 'logret' ] = 1 
x = np.log(df['adjclose'] /(df['adjclose'].shift(1)))

In [ ]:
fd.index

In [ ]:
res.loc[ res['symbol'] == res['symbol'].shift(), 'logret' ] = x

In [ ]:
fd.loc[ fd['symbol'] == fd['symbol'].shift(), 'logret' ] =  np.log(df['adjclose'] /(df['adjclose'].shift()))

In [ ]:
x.shape

In [ ]:
res.shape

In [ ]:
res['test'] = x

In [ ]:
 np.log(df['adjclose'] /(df['adjclose'].shift(1)))

In [ ]:
fd.set_index(keys="symbol", inplace=True, append=True)

In [ ]:
fd.loc[ fd['symbol'] == fd['symbol'].shift()]