In [1]:
# Required modules
import sqlite3
import pandas as pd
import numpy as np

In [2]:
conn = sqlite3.connect("stocks.db")

In [6]:
df = pd.read_sql("SELECT date, symbol, adjclose FROM eod", conn, parse_dates="date")

In [7]:
df['adjclose'] = df['adjclose'].astype(float)
df.tail()
fd = df
fd.head()

        date symbol  adjclose
0 2019-09-20    MMM    166.76
1 2019-09-19    MMM    167.07
2 2019-09-18    MMM    167.44
3 2019-09-17    MMM    168.07
4 2019-09-16    MMM    169.67

In [8]:
# Add new company column - same as ticker
fd['company'] = fd["symbol"]
# Make symbol as index
fd.set_index(keys= "symbol", inplace = True, append=False)
# Make date as index
fd.set_index(keys= "date", inplace = True, append=True)
# Sort the entire dataset
fd.sort_index(inplace=True)
fd.head()

                   adjclose company
symbol date
A      1999-11-18   27.2534       A
       1999-11-19   25.0081       A
       1999-11-22   27.2534       A
       1999-11-23   24.7758       A
       1999-11-24   25.4339       A

In [9]:
fd.reset_index(level=0, inplace=True)
fd.head()

                   adjclose company
symbol date
A      1999-11-18   27.2534       A
       1999-11-19   25.0081       A
       1999-11-22   27.2534       A
       1999-11-23   24.7758       A
       1999-11-24   25.4339       A

In [29]:
fd['logret'] =   np.log(df.adjclose).groupby(df.company).diff()

In [31]:
fd.reset_index(level=0)

           symbol  adjclose company    logret
date
1999-11-18      A   27.2534       A       NaN
1999-11-19      A   25.0081       A -0.085979
1999-11-22      A   27.2534       A  0.085979
1999-11-23      A   24.7758       A -0.095311
1999-11-24      A   25.4339       A  0.026216
...           ...       ...     ...       ...
2019-09-16    ZTS  119.6400     ZTS -0.011469
2019-09-17    ZTS  122.4200     ZTS  0.022971
2019-09-18    ZTS  123.2400     ZTS  0.006676
2019-09-19    ZTS  124.2700     ZTS  0.008323
2019-09-20    ZTS  125.6200     ZTS  0.010805

[2275200 rows x 4 columns]

In [33]:
fd.resample('W').first().groupby(fd.company)

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'MultiIndex'

In [ ]:
# Resample data
fd.resample

In [13]:
# Add log returns
fd.loc[ fd['company'] == fd['company'].shift(), 'logret' ] =  np.log(df['adjclose'] / (df['adjclose'].shift()))
fd[5030:5035]

                   adjclose company    logret
symbol date
AAPL   2019-09-18  222.7700    AAPL  0.009336
       2019-09-19  220.9600    AAPL -0.008158
       2019-09-20  217.7300    AAPL -0.014726
GOOG   2004-08-19   49.9827    GOOG       NaN
       2004-08-20   53.9528    GOOG  0.076433

                    adjclose ticker    logret
symbol date
GOOG   2019-09-20  1229.9301   GOOG       NaN
       2019-09-19  1238.7100   GOOG  0.007113
       2019-09-18  1232.4100   GOOG -0.005099
       2019-09-17  1229.1500   GOOG -0.002649
       2019-09-16  1231.3000   GOOG  0.001748

In [ ]:
########################vector
res = df.sort_values(['symbol', 'date'])

In [ ]:
# res.loc[ res['symbol'] == res['symbol'].shift(), 'logret' ] = 1 
x = np.log(df['adjclose'] /(df['adjclose'].shift(1)))

In [ ]:
fd.index

In [ ]:
res.loc[ res['symbol'] == res['symbol'].shift(), 'logret' ] = x

In [ ]:
fd.loc[ fd['symbol'] == fd['symbol'].shift(), 'logret' ] =  np.log(df['adjclose'] /(df['adjclose'].shift()))

In [ ]:
x.shape

In [ ]:
res.shape

In [ ]:
res['test'] = x

In [ ]:
 np.log(df['adjclose'] /(df['adjclose'].shift(1)))

In [ ]:
fd.set_index(keys="symbol", inplace=True, append=True)

In [ ]:
fd.loc[ fd['symbol'] == fd['symbol'].shift()]